<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [href]="product.link" [title]="product.name + ' details'">
      {{ product.name }}
    </a>
    | {{ product.price }} ₸
  </h3>
  <p *ngIf="product.rating">
     Rating: {{ product.rating }}/5
  </p>
  <img src={{product.image}} alt="">

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share(product.id)">
    Share
  </button>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->